<h2>{{ heading_comment }}</h2>
<div class="form-group">
	<label class="control-label" for="input-comment">{{ entry_comment }}</label>
	<textarea name="comment" rows="5" placeholder="{{ entry_comment }}" id="input-comment" class="form-control">{{ comment }}</textarea>
</div>