<div class="input-group" id="search">
    <input type="text" class="form-control" name="search" value="{{ search }}" placeholder="{{ text_search }}">
    <div class="input-group-append">
        <button type="button" class="btn btn-default input-group-text bg-transparent text-primary border-left-0">
            <i class="fa fa-search"></i>
        </button>
    </div>
</div>
