<div>
	{% if heading_title %}
		<div class="container-fluid pt-5">
			<h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4">
				<span class="bg-secondary pr-3">{{ heading_title }}</span>
			</h2>
		</div>
	{% endif %}
	{{ html }}
</div>
